@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Scope+One');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Scope One', serif;
	color: #575757;
	font-size: 17px;
	width: 30em auto;
}

p {
	text-align: center;
	font-size: 1em
	width: 15em auto;
	padding: 5em;
	margin: 1em;
}

img {
	width: 100%;
}

header {
	
}

nav {
	font-family: 'Fjalla One', sans-serif;
	font-size: 2em;
	color: #000000;
	padding: 20px;
	margin: auto;
}

nav a {
	float: right;
	clear: both;
}

a {
	color: #6092FF;
	padding: 1px;
}


h1 { 
	font-size: 4em;
	color: #6092FF;;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;

}

h2 {
	font-size: 1.5em;
}

footer {
	font-size: 10px;
	text-align: center;
	color: #575757;
	padding: 20px;
}

.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	font-size: 32px;
	color: #fff;
	line-height: 200px;
	text-align: center;
	background: #6092FF;
	
}

.offerings {
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 2em;
	color: #6092FF;
	margin: 2em auto;
	width: 15em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "  ";
	clear: both;
	height: 0;
}

#slogan {
	font-size: 1.25em;
	font-style: italic;
	text-align: center;
	padding: 10px;
}

#top {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
	padding: 20px;
}

#two_column {
	
}

#top_left {
	float: left;
	width: 42%;
}

#top_right {
	float: right;
	width: 42%;
}

#bottom_left {
	float: left;
	width: 42%;
}

#bottom_right {
	float: right;
	width: 42%;
}