@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Scope+One');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Scope One', serif;
	color: #575757;
	font-size: 17px;
	width: 30em auto;
}

p {
	text-align: center;
	font-size: 1em
	width: 15em auto;
	padding: 2.5em;
	margin: .5em;
}

img {
	width: 100%;
}

header {
	
}

nav {
	font-family: 'Fjalla One', sans-serif;
	font-size: 2em;
	color: #000000;
	padding: 2%;
	margin: auto;
}

nav a {
	float: right;
	clear: both;
}

a {
	color: #FFFFFF;
	padding: 0.2em;
	text-decoration: none;
}


h1 { 
	font-size: 4em;
	color: #6092FF;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;

}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 3em;
	color: #6092FF;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding: 0.5em;
	margin: 0.5em;
}

footer {
	font-size: .75em;
	text-align: center;
	color: #575757;
	padding: 1%;
}

.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	font-size: 32px;
	color: #fff;
	line-height: 200px;
	text-align: center;
	background: #6092FF;	
}

.offerings {
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 2em;
	color: #6092FF;
	margin: 2em auto;
	width: 15em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "  ";
	clear: both;
	height: 0;
}

.contact {
	text-align: center;
	padding: 2em;
	margin: 2em 4em;
    font-family: 'Fjalla One', sans-serif;
	font-size: 2em;
	background-color: #6092FF;
}

.kick {
	background-color: #6092FF;

}

#slogan {
	font-size: 1.25em;
	font-style: italic;
	text-align: center;
	padding: 1%;
}

#top {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
	padding: 1%;
	width: 100%;
}

#two_column {
	
}

#top_left {
	display: inline-block;
	width: 42%;
	padding: 1em;
}

#top_right {
	display: inline-block;
	width: 42%;
	padding: 1em;
}

#bottom_left {
	display: inline-block;
	width: 42%
	padding: 1em;
}

#bottom_right {
	display: inline-block;
	width: 42%;
	padding: 1em;
}

@media only screen and (max-width: 800px) {
  nav {
    float: none;
    height: 10em;
    position: relative
  }
  nav a {
    margin: 0 1.6em .75em 0;
    position: absolute;
  }
  h2 {
  	font-size: 1em;
  }
  #top {
  	font-size: 1em;
  	background-size: 100%;
  	background-position: center;
  	background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 480px) {
  h1, h3 {
    display: inline-block;
    text-align: center;
  }
  nav a, a, .contact {
    margin: 1em;
    font-size: 1em;
    text-align: center;
  }
  h2 {
  	font-size: 0.5em;
  }
  #top {
  	background-image: none;
  	font-size: 1em;
  }
 nav, .circle {
	/*width: 100px;
	height: 100px;
	border-radius: 50%;
	font-size: 1em;
	color: #fff;
	line-height: 100px;
	text-align: center;
	background: #6092FF;*/
  }
 
  p {
  	padding: 0.2em;
  }
}

